/* Team Section */
.team-member {
    margin-bottom: 1.5rem;
    text-align: center;
}
.team-member h3{
    color: #5ea299;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

/* Products */
.product {
    margin-bottom: 1.5rem;
}

.product img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.product h3 {
    font-size: 1.5rem;
    color: #333;
}
.intro-text {
    text-align: justify;
}